.tools{
   color: $creme;
   font-size: 100px;
   .tool{
      @include my-display-flex;
      justify-content: space-between;
      align-items: center;
      margin-top: $marginsection;
   }
}
.description{
   width: 30%;
}
.relativeFile{
   width: 65%;
   position: relative;
   img, video{
      width: 100%;
   }
   .scontornata{
      position: absolute;
      top: 0;
      left: 50%;
      width: 70%;
   }
}

.square_viewpport{
   width: 100%;
   height: 400px;
   background-color: $white;
   position: relative;
   img{
      max-width: 60%;
      position:absolute;
      left: 50%;
      top: 0

   };
}
.tool:nth-child(even){
flex-direction: row-reverse;
}