.tools{
   color: $creme;
   font-size: 100px;
   .tool{
      @include my-display-flex;
      justify-content: space-between;
      align-items: center;
      margin-top: $marginsection;
   }
}
.description{
   width: 30%;
}
.relativeFile{
   width: 65%;
   position: relative;
   img, video{
      width: 100%;
   }
   .scontornata{
      position: absolute;
      top: 0;
      left: 50%;
      width: 70%;
      transition: all 1s;
      &:hover{
         width: 80%;
         filter: sepia(2);
         left: 20%;
      }
   }
}
.tool:nth-child(even){
flex-direction: row-reverse;
}