//colors
$blue900: #090027; 
$blue300: #1473e6;
$blue400: #0d66d0;
$creme: #f2e1c1;
$white: #fff;
$black: #000;
//fontsizes
$fontMedium: 18px;
$fontMediumBig: 22px;
$fontBig: 36px;
$fontTitle: 45px;
//margin
$marginNormal: 25px;
$marginsection: 80px;
